{
  "prettier/prettier": [
    "error",
    {},
    {
      "fileInfoOptions": {
        "withNodeModules": true,
        "singleQuote": true,
        "trailingComma": "all",
        "parser": "flow",
        "usePrettierrc": false
      }
    }
  ]
}